#network-view-info-icon
{
    width: 100px;
    height: 100px;
}

.network-view-heading
{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
