.rules-view-heading
{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.rules-view-info
{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#rule-view-block
{
    height: wrap;
    margin: 10px;
}

.rule-block
{
    padding: 20px;
    min-width: none;
    width: wrap;
    height: wrap;
    background-color: rgb(31, 31, 31);
}